#header{
    background-color: chocolate;
    padding-bottom: 5px;
}

h1{
    color: blue;
    text-align: center;
}

blockquote{
    
    text-align: center;
    background-color: yellow;
}

body{
    font-family: 'Kolker Brush', cursive;
}

#mek{
    text-align: center;
}

#mek ul{
    list-style: none;
}

.gambar img{
    width: 15%;
}
.gambar{
    text-align: center;
    
}

